@import url('https://fonts.googleapis.com/css2?family=Combo&family=Dancing+Script:wght@500;700&family=Inter:wght@200;300;400;600&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap');

:root{
  --background-color:#ffffff;
  --bigfont:'Montserrat', sans-serif;
  --fontlogo:'Dancing Script', cursive;
  --fontsizenormal:25px;
  --normalfnt:'Inter', sans-serif;
  --paragraphfont: 'Sono', sans-serif;
}

body{

}
h1{
  font-family: var(--bigfont);
  font-size:90px;

}
.nav-bar{
  display:flex;
  justify-content: space-between;

}
.links{
  display: flex;
margin-right:100px;
margin-top:30px;

}
 li{
  list-style:none;

}
 a{
  text-decoration: none;
  margin:20px;
  font-size:var(--fontsizenormal);
  font-family:var(--normalfnt);
}
.logoname{
  font-family:var(--fontlogo);
  color:#21165f;
}
.photo{
  /* background:rgba(15, 129, 243, 0.82) ; */

}
.photo img{position:relative;
transform:translate(110%,0%);
  top:0;
  left:0;
  border-radius: 50%;
  height:30%;
  width:30%;
  align-items: center;
}
.info {
  margin-top:100px;
  margin-left:10px;
}
.info h2{
font-size: 35px;
font-family: var(--normalfnt);

}
.info span{
  color:#3d0975;
    opacity: 0.6;
}
.hash{
  opacity:0.5;
  color:black;
  font-size:30px;
}
.info p{
  font-size:50px;
  opacity:0.9;
  margin-bottom:10px;
  font-family: var(--paragraphfont);
}
.skills{
  margin-top:100px;
  margin-left:10px;
}
.skills span{
  color:#3d0975;
    opacity: 0.6;
}
.hash{
  opacity:0.5;
  color:black;
  font-size:30px;
}
.skills p{
  font-size:50px;
  opacity:0.9;
  margin-bottom:10px;
  font-family: var(--paragraphfont);
}
.skills h2{
font-size: 35px;
font-family: var(--normalfnt);

}
.contact{
  margin-top:100px;
  margin-left:10px;
}

.contact span{
  color:#3d0975;
    opacity: 0.6;
}
.hash{
  opacity:0.5;
  color:black;
  font-size:30px;
}
.contact p{
  font-size:50px;
  opacity:0.9;
  margin-bottom:10px;
  font-family: var(--paragraphfont);
}
.contact h2{
font-size: 35px;
font-family: var(--normalfnt);

}
.contact li a{
}

/* .likeme{
  margin-top:100px;
  margin-left:10px;
} */
.likeme p{
  font-size:50px;
  opacity:0.9;
  margin-bottom:10px;
  font-family: var(--paragraphfont);
}
.feedback {
  margin-top:100px;
  margin-left:10px;
}
.feedback p{
  font-size:50px;
  opacity:0.9;
  margin-bottom:10px;
  font-family: var(--paragraphfont);
}
.quote2{
  margin-top:100px;
  margin-left:10px;

}
.quote2 h2{
  font-size:40px;
  text-align: center;
  letter-spacing: 10px;
  font-family:var(--normalfnt);
  text-transform:capitalize;
  opacity:0.7;
  color:#1839b0;
}
form{
  margin:50px;
  display: flex;
  align-items: center;
}
form input{
  font-size:30px;
}
button{
  padding:12px 30px;
  margin:none;
  outline:none;
}
.contacklike{
  display: flex;
justify-content: space-around;
flex-wrap:wrap;
}
